
<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fail</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Wrong!</h1>
      <p class="lead">Login fail. Please check in the password and the username</p>
      <a href="/login" class="btn btn-danger">Back</a>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Please remember the ID to login the system</span>
      </div>
    </footer>
  </body>
</html>
