
<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fail</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Choose the type of your new work</h1>
      <p class="lead">Please select one of these</p>
      <a href="/newWork-{{'Oil_Paint'}}" class="btn btn-danger">Oil Paint</a>
      <a href="/newWork-{{'Video'}}" class="btn btn-primary">Video</a>
      <a href="/newWork-{{'3D_model'}}" class="btn btn-warning">3D Model</a>
